.orange {

    color: orange;
    font-size: 63px;

}



h1 {

    font-size: 60px;



}


h3 {

    font-size: 25px;
}

body {

    font-family: 'Lobster', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0%;

}

.link-button {

    text-decoration: none;
    background-color: chartreuse;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 800px;


}


section {

    display: flex;


}


.half-width {

    width: 40%px;
    padding-left: 7%;
    padding-right: 5%;

}

.half-width img {

    width: 60%;
    padding-bottom: 15%;

}

.banner {

    background-image: url(design/top-banner.png);

}

.me {

    background-image: url(design/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}